---

---

<footer class="w-full bg-foreground">
    <div class="w-full h-full flex flex-col p-10 gap-10">
        <div class="flex gap-5">
            <svg class="w-8 h-8 fill-white" id="title-icon">
                <use xlink:href="/assets/sprite.svg#icon-wifi"></use>
            </svg>
            <h2 id="nav-title" class="font-bold text-2xl text-white">Mi Tech</h2>
        </div>
        <div>
            <p class="text-muted-text text-lg text-left font-medium">Conectando el futuro, un hogar a la vez. Internet confiable y rápido para tu vida digital.</p>
        </div>
        <div class="flex gap-7">
            <a href="#" class="hover:bg-gradient-to-tr from-sky-800 via-sky-700 to-blue-600 flex w-13 h-13 rounded-xl bg-muted-foreground/30 items-center justify-center hover:scale-105 active:scale-105 transition-all group">
                    <img src="/assets/facebook-icon.svg" class="w-6 h-6 fill-white" alt="Facebook Icon">
            </a>
            <a href="#" class="hover:bg-gradient-to-tr from-red-300 via-purple-400 to-indigo-500 flex w-13 h-13 rounded-xl bg-muted-foreground/30 items-center justify-center hover:scale-105 active:scale-105 transition-all group">
                <svg class="w-8 h-8 fill-muted-text group-hover:fill-white">
                    <use xlink:href="/assets/sprite.svg#icon-instagram"></use>
                </svg>
            </a>
            <a href="https://wa.me/18095858145" class="hover:bg-gradient-to-tr from-green-300 via-green-400 to-green-500 transition-discrete flex w-13 h-13 rounded-xl bg-muted-foreground/30 items-center justify-center hover:scale-105 active:scale-105 transition-all group">
                <svg class="w-6 h-6 fill-muted-text group-hover:fill-white">
                    <use xlink:href="/assets/sprite.svg#icon-whatsapp"></use>
                </svg>
            </a>
        </div>
        <div class="flex flex-col gap-5">
            <h3 class="text-2xl text-secondary font-bold">Planes</h3>
            <ul class="flex flex-col text-muted-text gap-2 text-normal">
                <a href="#plans-section"><li>Plan Básico</li></a>
                <a href="#plans-section"><li>Plan Esencial</li></a>
                <a href="#plans-section"><li>Plan Familiar</li></a>
                <a href="#plans-section"><li>Plan Avanzado</li></a>
                <a href="#plans-section"><li>Plan Premium</li></a>
                <a href="#plans-section"><li>Plan Ultra</li></a>
            </ul>
        </div>
        <div class="flex flex-col gap-5">
            <h3 class="text-2xl text-secondary font-bold">Empresa</h3>
            <ul class="flex flex-col text-muted-text gap-2">
                <a href="#about-us-section"><li>Sobre Nosotros</li></a>
                <a href="#plans-section"><li>Planes</li></a>
                <a href="#contact-section"><li>Contacto</li></a>
                <a href="#contact-section"><li>Cobertura</li></a>
            </ul>
        </div>
        <hr class="bg-muted-foreground/30 rounded-xl h-0.5 border-none w-full" />
        <div class="flex w-full text-center">
            <p class="text-center text-muted-text text-normal">© 2025 Mi Tech. Todos los derechos reservados.</p>
        </div>
    </div>
</footer>