---
import '../styles/global.css';
---
<section id="hero-section" class="w-full min-h-dvh bg-[url('../../public/assets/hero-bg.webp')] bg-center bg-cover relative pt-[10dvh]">
    <div class="absolute inset-0 w-full h-full bg-gradient-to-r from-primary/90 to-accent/80 pt-[15dvh]">
        <div class="w-full flex flex-col justify-center p-10 gap-5">
            <h1 class="font-extrabold text-5xl text-center text-white mb-5">Conéctate al futuro con <span id="page-name" class="font-bold bg-gradient-to-r from-primary via-white to-accent bg-clip-text text-transparent animate-text">Mi Tech</span></h1>
            <p class="font-light text-white text-xl text-center">Internet rápido, estable y accesible para tu hogar o negocio</p>

            <div class="w-full flex flex-col p-10 items-center justify-center gap-5">
                <button class="flex items-center justify-center gap-3 bg-white w-[200px] py-3 rounded-lg hover:scale-105 active:scale-105 transition-all ">
                    <a href="#plans-section" class="text-primary font-bold text-lg">Ver planes</a>
                    <svg class="w-4 h-4 fill-primary cursor-pointer group-hover:fill-white">
                        <use xlink:href="/assets/sprite.svg#icon-arrow-right" id="menu-icon"></use>
                    </svg>
                </button>
                <button class="flex items-center justify-center gap-3 border border-white w-[200px] py-3 rounded-lg hover:scale-105 active:scale-105 transition-all ">
                    <a href="#contact-section" class="text-white font-bold text-lg">Contactanos</a>
                    <svg class="w-4 h-4 fill-white cursor-pointer group-hover:fill-white">
                        <use xlink:href="/assets/sprite.svg#icon-arrow-right" id="menu-icon"></use>
                    </svg>
                </button>
            </div>
            <div class="w-full flex items-center justify-center animate-bounce delay-0">
                <svg class="w-10 h-10 fill-white cursor-pointer">
                    <use xlink:href="/assets/sprite.svg#icon-router" id="menu-icon"></use>
                </svg>	
            </div>
        </div>
    </div>
</section>