---
import '../styles/global.css';
---

<nav id="navbar" class="w-full h-[10dvh] fixed z-10 transition-all">
    <div class="w-full h-full bg-inherit flex items-center justify-between px-5 relative">
        <div class="flex gap-5">
            <svg class="w-6 h-6 fill-white" id="title-icon">
                <use xlink:href="/assets/sprite.svg#icon-wifi"></use>
            </svg>
            <h2 id="nav-title" class="font-bold text-lg text-white">Mi Tech</h2>
        </div>
        <div id="open-menu" class="p-2 hover:scale-105 hover:bg-primary rounded-lg transition-all group">
            <svg class="w-5 h-5 fill-foreground cursor-pointer group-hover:fill-white">
                <use xlink:href="/assets/sprite.svg#icon-list" id="menu-icon"></use>
            </svg>
        </div>
        <div id="links-menu" class="backdrop-blur-lg absolute top-[100%] w-full left-[100%] transition-all">
            <div class="p-5">
                <ul class="flex flex-col gap-5 text-base font-sans font-medium text-foreground">
                    <a href="#hero-section" class="hover:text-primary-hover active:text-primary-hover transition-all hover:scale-105 active:scale-105">                        
                        <li class="p-3 rounded-lg w-full bg-sky-500 text-white">Inicio</li>
                    </a>
                    <a href="#about-us-section" class="hover:text-primary-hover active:text-primary-hover transition-all hover:scale-105 active:scale-105">                        
                        <li class="p-3 rounded-lg w-full bg-sky-500 text-white">Nosotros</li>
                    </a>
                    <a href="#plans-section" class="hover:text-primary-hover active:text-primary-hover transition-all hover:scale-105 active:scale-105">                        
                        <li class="p-3 rounded-lg w-full bg-sky-500 text-white">Planes</li>
                    </a>
                    <a href="#contact-section" class="hover:text-primary-hover active:text-primary-hover transition-all hover:scale-105 active:scale-105">                        
                        <li class="p-3 rounded-lg w-full bg-sky-500 text-white">Contacto</li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
</nav>

<script>
    const $ = (id:string) => document.getElementById(id);
    const openMenu = $('open-menu');
    const menu = $('links-menu');
    const menuIcon = $('menu-icon');
    const nav = $('navbar');
    const titleIcon = $('title-icon');
    const navTitle = $('nav-title');

    window.addEventListener('scroll', () => {
        if (window.scrollY > 10) {
            nav?.classList.add('bg-white');
            nav?.classList.add('backdrop-blur-lg');
            menu?.classList.add('bg-white');
            menu?.classList.add('backdrop-blur-lg');
            titleIcon?.classList.remove('fill-white');
            titleIcon?.classList.add('fill-primary');
            navTitle?.classList.remove('text-white');
            navTitle?.classList.add('text-primary');

        } else {
            nav?.classList.remove('bg-white');
            nav?.classList.remove('backdrop-blur-lg');
            titleIcon?.classList.add('fill-white');
            titleIcon?.classList.remove('fill-black');
            navTitle?.classList.add('text-white');
            navTitle?.classList.remove('text-black');
            menu?.classList.remove('bg-white');
            menu?.classList.add('backdrop-blur-lg');
        };
    });

    openMenu?.addEventListener('click', () => {
        menu?.classList.toggle('left-0');
        menu?.classList.toggle('left-[100%]');
        menuIcon?.setAttribute('xlink:href', menu?.classList.contains('left-0') ? '/assets/sprite.svg#icon-close-sm' : '/assets/sprite.svg#icon-list');
    });

    menu?.addEventListener('click', (e) => {
        const click = e.target;
        if (click.matches('li')) {
            menu?.classList.toggle('left-0');
            menu?.classList.toggle('left-[100%]');
            menuIcon?.setAttribute('xlink:href', menu?.classList.contains('left-0') ? '/assets/sprite.svg#icon-close-sm' : '/assets/sprite.svg#icon-list');
        }
    });
</script>