---
import '../styles/global.css';
import PlanCard from './PlanCard.astro';
import { getCollection } from 'astro:content';

const cards = await getCollection('PlanCards');
---
<section id="plans-section" class="w-full h-full bg-white pt-[10vh]">
    <div class="w-full h-full flex flex-col p-5 gap-10">
        <div class="w-full flex flex-col gap-10">
            <h2 class="text-foreground text-4xl text-center font-extrabold">Nuestros planes</h2>
            <p class="text-lg text-center text-muted-foreground">Elige el plan perfecto para tus necesidades de conectividad</p>
        </div>
        <div class="w-full h-full flex flex-col gap-5">
            {
                cards.map(card => {
                    const { data } = card;
                    const { title, subtitle, price, mbps } = data;

                    return (
                        <PlanCard title={title} subtitle={subtitle} price={price} mbps={mbps} />
                    )
                })
            }
        </div>
    </div>
</section>